[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
bs4 = "*"
pypyodbc = "*"
jellyfish = "*"
sqlalchemy = "*"
matplotlib = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
pydocstyle = "*"
pycodestyle = "*"
urllib3 = "*"
pillow = "*"

[requires]
python_version = "3.8"
